.popup{
    display: none;
    &--open{
        display: block;
    }
    &-mask{
        background-color: rgba(0, 0, 0, .6);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        opacity: 0;
        transition: opacity .3s ease;
        &--open{
            display: block;
            opacity: 1;
        }
    }
    &-content{
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: 0 -1PX 3PX rgba(0, 0, 0, .8);
        display: none;
        transform: translateY(100%);
        transition: transform .3s ease;
        &--open{
            display: block;
            transform: translateY(0%);
        }
    }
}